{% load static %}

<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <!--IE Compatibility modes-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--Mobile first-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Touya Mochizuki | Home</title>
  <meta name="msapplication-TileColor" content="#5bc0de" />
  <meta name="msapplication-TileImage" content="assets/img/metis-tile.png" />

  <link rel="icon" type="image/x-icon" href="./favicon.ico">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha512-DUC8yqWf7ez3JD1jszxCWSVB0DMP78eOyBpMa5aJki1bIRARykviOuImIczkxlj1KhVSyS16w2FSQetkD4UU2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <link rel="stylesheet" href="{% static 'assets/css/style-switcher.css' %}">
  <link rel="stylesheet/less" type="text/css" href="{% static 'assets/less/theme.less' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.js"></script>

  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'assets/lib/metismenu/metisMenu.css' %}">
  <link rel="stylesheet" href="{% static 'assets/lib/onoffcanvas/onoffcanvas.css' %}">
  <link rel="stylesheet" href="{% static 'assets/lib/animate.css/animate.css' %}">

  <script src="{% static 'assets/js/style-switcher.js' %}"></script>
  <script src="{% static 'assets/lib/metismenu/metisMenu.js' %}"></script>
  <script src="{% static 'assets/lib/onoffcanvas/onoffcanvas.js' %}"></script>
  <script src="{% static 'assets/lib/screenfull/screenfull.js' %}"></script>
  <script src="{% static 'assets/js/core.js' %}"></script>
  <script src="{% static 'assets/js/app.js' %}"></script>
</head>

<body class="login">

  <div class="form-signin">
    <div class="text-center">
      <img src="{% static 'assets/img/logo.png' %}" alt="Metis Logo">
    </div>
    <hr>
    <div class="tab-content">
      <div id="login" class="tab-pane active">
        <form method="post">
          {% csrf_token %}
          <p class="text-muted text-center">
            Enter your username and password
          </p>
          {{form.as_p}}
          <!-- <input type="text" placeholder="Username" class="form-control top"> -->
          <!-- <input type="password" placeholder="Password" class="form-control bottom"> -->
          <!-- <div class="checkbox">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div> -->
          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <ul class="list-inline">
        <li><a class="text-muted" href="{% url 'password_reset' %}">Forgot Password</a></li>
        <!-- <li><a class="text-muted" href="#signup">Signup</a></li> -->
      </ul>
    </div>
  </div>


  <!--jQuery -->
  <script src="assets/lib/jquery/jquery.js"></script>

  <!--Bootstrap -->
  <script src="assets/lib/bootstrap/js/bootstrap.js"></script>


</body>

</html>